{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<article class="relative max-w-full prose dark:prose-invert border">
  <header class="sticky inset-0 w-full px-6 py-10 flex flex-row sm:flex-col items-center justify-center gap-6 max-w-6xl mx-auto border">
    <div class="w-1/3 py-6 rounded-2xl flex flex-col items-center text-center border mx-32">
      {{ with .Site.Params.Author.image }}
        {{ $authorImage := "" }}
        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
          {{ $authorImage = resources.GetRemote . }}
        {{ else }}
          {{ $authorImage = resources.Get . }}
        {{ end }}
        {{ if $authorImage }}
          {{ if not $disableImageOptimization }}
            {{ $authorImage = $authorImage.Fill (print "1080x1080 q" ( $.Site.Params.Author.imagequality | default "96" )) }}
          {{ end }}
          <img class="mb-2 rounded-2xl h-72 w-72" width="288" height="288" alt="{{ $.Site.Params.Author.name | default " Author" }}"
            src="{{ $authorImage.RelPermalink }}" />
        {{ end }}
      {{ end }}
      <h1 class="py-2 text-2xl font-bold">
        {{ .Site.Params.Author.name | default .Site.Title }}
      </h1>
      {{ with .Site.Params.Author.headline }}
      <h2 class="text-xl text-neutral-600 dark:text-neutral-400">
        {{ . | markdownify }}
      </h2>
      {{ end }}
      <div class="mt-1 text-2xl">
        {{ partialCached "author-links.html" . }}
      </div>
      <div class="pt-8 pb-6">
        <a
          class="!rounded-md bg-primary-600 px-4 py-2 !text-neutral !no-underline hover:!bg-primary-500 dark:bg-primary-700 dark:hover:!bg-primary-400"
          href="#button"
          target="_blank"
          role="button"
        >
          Download CV
        </a>
      </div>
    </div>
    <div class="w-full flex flex-col items-start text-left">
      <h1 class="myeffect text-2xl text-neutral-600 dark:text-neutral-400 text-left flex items-center gap-2">
        Hello, I'm 
        <span class="ml-2 relative overflow-hidden h-[3.8rem] leading-[3.8rem] text-primary-600 dark:text-primary-400">
          <ol class="m-0 p-0">
            <li><span>Hazel Pernanda Putra</span></li>
            <li><span>Computer Vision Engineer</span></li>
            <li><span>Machine Learning Engineer</span></li>
            <li><span>Anjayy</span></li>
          </ol>
        </span>
      </h1>
      <h1 class="text-6xl text-neutral-700 dark:text-neutral-300 text-left my-6">
        Computer Engineer Enthusiast<br>
        Student of Bachelor Mathematics
        Padjadjaran University, Indonesia
      </h1>
      <article class="mt-4 text-base text-neutral-700 dark:text-neutral-400 leading-relaxed max-w-3xl">
        <p>Lorrem ollitia eligendi temporibus quidem ut. Minus?  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam obcaecati, aperiam illum dolorem reprehenderit id laborum quisquam dignissimos ut asperiores ullam? Quod quas praesentium dicta necessitatibus dolor, tenetur culpa eius.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ratione delectus maxime vel, non animi atque dolores maiores sunt eaque corrupti similique ipsum! Quod accusamus enim similique sunt vitae soluta. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque consequuntur amet sapiente quia accusantium porro rem adipisci nisi sed, sunt ad vero minima consectetur. Repellendus quisquam quod nesciunt. Fugit, enim?
        </p>
        <div class="flex flex-rows justify-center border gap-4 mt-6">
          <div class="border flex text-6xl text-neutral-600 dark:text-neutral-400">1</div>
          <div class="border flex text-6xl text-neutral-600 dark:text-neutral-400">2</div>
          <div class="border flex text-6xl text-neutral-600 dark:text-neutral-400">3</div>
        </div>
      </article>
    </div>
  </header>
  <section>{{ .Content }}</section>
</article>
<section>
  {{ partial "recent-articles/main.html" . }}
</section>
