{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<article class="{{ if not .Site.Params.homepage.showRecent }} h-full {{ end }} flex flex-col items-center justify-center text-center">

  <!-- Background Image -->
  <div class="fixed inset-x-0 top-0 -z-10">
    {{ $homepageImage := "" }}
    {{ with .Site.Params.defaultBackgroundImage }}
      {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
        {{ $homepageImage = resources.GetRemote . }}
      {{ else }}
        {{ $homepageImage = resources.Get . }}
      {{ end }}
    {{ end }}
    {{ with .Site.Params.homepage.homepageImage }}
      {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
        {{ $homepageImage = resources.GetRemote . }}
      {{ else }}
        {{ $homepageImage = resources.Get . }}
      {{ end }}
    {{ end }}
    {{ if $homepageImage }}
      <img class="w-full h-screen max-h-[1000px] object-cover nozoom" src="{{ $homepageImage.RelPermalink }}" role="presentation" />
      <div class="absolute inset-0 h-screen max-h-[1000px] bg-gradient-to-t from-neutral dark:from-neutral-800 to-transparent mix-blend-normal"></div>
      <div class="opacity-60 absolute inset-0 h-screen max-h-[1000px] bg-gradient-to-t from-neutral dark:from-neutral-800 to-neutral-100 dark:to-neutral-800 mix-blend-normal"></div>
    {{ end }}
  </div>

  <!-- Main Header -->
  <header class="relative w-full px-4 sm:px-3 md:px-10 lg:px-15 xl:px-20 py-10 flex flex-col xl:flex-row items-center justify-center gap-6 max-w-[90%] lg:max-w-5xl mx-auto">

    <!-- Left Column -->
    <div class="w-full max-w-sm py-6 rounded-2xl flex flex-col items-center text-center">
      {{ with .Site.Params.Author.image }}
        {{ $authorImage := "" }}
        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
          {{ $authorImage = resources.GetRemote . }}
        {{ else }}
          {{ $authorImage = resources.Get . }}
        {{ end }}
        {{ if $authorImage }}
          {{ if not $disableImageOptimization }}
            {{ $authorImage = $authorImage.Fill (print "540x540 q" ( $.Site.Params.Author.imagequality | default "96" )) }}
          {{ end }}
          <img class="mb-4 rounded-2xl w-full aspect-[3/4] object-cover max-w-xs" alt="{{ $.Site.Params.Author.name | default " Author" }}" src="{{ $authorImage.RelPermalink }}" />
        {{ end }}
      {{ end }}
      <h1 class="py-2 text-2xl font-bold">
        {{ .Site.Params.Author.name | default .Site.Title }}
      </h1>
      {{ with .Site.Params.Author.headline }}
      <h2 class="text-lg text-neutral-600 dark:text-neutral-400">
        {{ . | markdownify }}
      </h2>
      {{ end }}
      <div class="mt-3 text-xl">
        {{ partialCached "author-links.html" . }}
      </div>
      <div class="pt-8 pb-6">
        <a class="rounded-md bg-primary-600 px-4 py-2 text-neutral no-underline hover:bg-primary-500 dark:bg-primary-700 dark:hover:bg-primary-400" href="#button" target="_blank" role="button">
          Download CV
        </a>
      </div>
    </div>

    <!-- Right Column -->
    <div class="h-full w-full pt-10 items-start text-left">
      <!-- Tabs -->
      <div class="font-medium px-6 flex flex-wrap gap-2 mb-6">
        <a id="tabBtn1" class="backdrop-blur-2xl border border-neutral-700 rounded-2xl px-4 py-1 text-neutral-700 dark:text-neutral-400 no-underline hover:text-primary-700 hover:border-primary-700 dark:hover:text-primary-400 dark:hover:border-primary-400" onclick="switchTab(1)">
          Me</a>
        <a id="tabBtn2" class="backdrop-blur-2xl border border-neutral-700 rounded-2xl px-4 py-1 text-neutral-700 dark:text-neutral-400 no-underline hover:text-primary-700 hover:border-primary-700 dark:hover:text-primary-400 dark:hover:border-primary-400" onclick="switchTab(2)">
          Portfolio</a>
        <a id="tabBtn3" class="backdrop-blur-2xl border border-neutral-700 rounded-2xl px-4 py-1 text-neutral-700 dark:text-neutral-400 no-underline hover:text-primary-700 hover:border-primary-700 dark:hover:text-primary-400 dark:hover:border-primary-400" onclick="switchTab(3)">
          Resume</a>
        <a class="backdrop-blur-2xl border border-neutral-700 rounded-2xl px-4 py-1 text-neutral-700 dark:text-neutral-400 no-underline hover:bg-primary-500 dark:hover:bg-primary-400">
          Skills</a>
      </div>

      <!-- Tabs Content -->
      <div class="relative min-h-[30rem] h-[36rem] w-full myeffect lg:backdrop-blur-md rounded-3xl overflow-hidden">
        <!-- Me -->
        <div id="tab1" class="tab-pane absolute inset-0 transition-all duration-500 ease-in-out transform translate-y-0 opacity-100 visible z-10 px-6 py-3 h-full overflow-y-auto scrollbar-thin scrollbar-track-neutral-200 scrollbar-thumb-neutral-400 dark:scrollbar-track-neutral-800 dark:scrollbar-thumb-neutral-600">
          <h1 class="myeffect text-xl sm:text-2xl text-neutral-600 dark:text-neutral-400 flex items-center gap-2">
            Hello, I'm
            <span class="ml-2 relative overflow-hidden text-primary-700 dark:text-primary-400">
              <ol class="m-0 p-0">
                <li><span>Hazel Pernanda Putra</span></li>
                <li><span>Computer Vision Engineer</span></li>
                <li><span>Machine Learning Engineer</span></li>
                <li><span>Anjayy</span></li>
              </ol>
            </span>
          </h1>
          <h1 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl text-neutral-700 dark:text-neutral-300 font-bold leading-tight">
            Computer Engineer Enthusiast,
            Student of Bachelor Mathematics
            Padjadjaran University, Indonesia
          </h1>
          <article class="mt-4 text-base sm:text-lg text-neutral-700 dark:text-neutral-400 leading-relaxed max-w-3xl">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rem numquam debitis asperiores pariatur reiciendis alias id dolorum tempora.
            </p>
            <div class="flex flex-row justify-center gap-4 mt-6">
              <div class="border p-4 text-3xl sm:text-5xl text-neutral-600 dark:text-neutral-400">1</div>
              <div class="border p-4 text-3xl sm:text-5xl text-neutral-600 dark:text-neutral-400">2</div>
              <div class="border p-4 text-3xl sm:text-5xl text-neutral-600 dark:text-neutral-400">3</div>
            </div>
          </article>
        </div>

        <!-- Portfolio -->
        <div id="tab2" class="tab-pane absolute inset-0 transition-all duration-500 ease-in-out transform translate-y-4 opacity-0 invisible z-0 px-6 py-3 h-full overflow-y-auto scrollbar-thin scrollbar-track-neutral-200 scrollbar-thumb-neutral-400 dark:scrollbar-track-neutral-800 dark:scrollbar-thumb-neutral-600">
          {{ .Content }}
        </div>

        <!-- Resume -->
        <div id="tab3" class="tab-pane absolute inset-0 transition-all duration-500 ease-in-out transform translate-y-4 opacity-0 invisible z-0 px-6 py-3 h-full overflow-y-auto scrollbar-thin scrollbar-track-neutral-200 scrollbar-thumb-neutral-400 dark:scrollbar-track-neutral-800 dark:scrollbar-thumb-neutral-600">
          <h2 class="text-2xl font-bold mb-4">
            Certificates
          </h2>
          <section class="border-l-2 border-primary-500 dark:border-primary-300 list-none prose dark:prose-invert mx-auto">
              {{ partial "myTimeline.html" (dict "icon" "bolt" "header" "Proyek Dimulai" "badge" "2023" "subheader" "Tahap 1" "inner" (markdownify "Konten penjelasan timeline-nya di sini.")) }}
              {{ partial "myTimeline.html" (dict "icon" "bolt" "header" "Proyek Dikerjakan" "badge" "2023" "subheader" "Tahap 2" "inner" (markdownify "Konten penjelasan timeline-nya di sini.")) }}
              {{ partial "myTimeline.html" (dict "icon" "bolt" "header" "Proyek Selesai" "badge" "2023" "subheader" "Tahap 3" "inner" (markdownify "Konten penjelasan timeline-nya di sini.")) }}
          </section>
        </div>
      </div>
    </div>
  </header>
</article>

<!-- Tab Switch Script -->
<script>
function switchTab(activeTab) {
  const tabs = [1, 2, 3];
  tabs.forEach(tab => {
    const el = document.getElementById(`tab${tab}`);
    const btnEl = document.getElementById(`tabBtn${tab}`);
    if (tab === activeTab) {
      el.classList.remove('translate-y-4', 'opacity-0', 'invisible', 'z-0');
      el.classList.add('translate-y-0', 'opacity-100', 'visible', 'z-10');
      btnEl.classList.add('text-primary-700', 'dark:text-primary-400', 'border-primary-700','dark:border-primary-400');
    } else {
      el.classList.remove('translate-y-0', 'opacity-100', 'visible', 'z-10');
      el.classList.add('translate-y-4', 'opacity-0', 'invisible', 'z-0');
      btnEl.classList.remove('text-primary-700', 'dark:text-primary-400', 'border-primary-700','dark:border-primary-400');
    }
  });
}
</script>
