{{ $icon := or .icon "check" }}
{{ $header := .header }}
{{ $badge := .badge }}
{{ $subheader := .subheader }}
{{ $inner := .inner }}
<li>
  <div class="flex justify-center items-center xl:gap-8 gap-2">
    <div class="hidden rounded-full bg-primary-50 text-neutral-50 dark:text-neutral-700 h-full text-3xl lg:p-6 lg:text-8xl xl:flex items-center justify-center rounded-full mb-10">
      <span class="inline-block align-middle">{{ partial "icon.html" $icon }}</span>
    </div>
    <div class="block p-6 bg-primary-700/10 dark:bg-primary400/10 rounded-lg shadow-2xl min-w-full mb-10 break-words">
      <div class="flex justify-between">
        {{ if $header }}
        <h2 class="mt-0">
          {{ $header }} 
        </h2>
        {{ end }}
        {{ if $badge }}
        <h3 class="">
          {{ partial "badge.html" $badge }}
        </h3>
        {{ end }}
      </div>
      {{ if $subheader }}
      <h4 class="mt-0">
        {{ $subheader }}
      </h4>
      {{ end }}
      <div class="mb-6">
        {{ $inner }}
      </div>
    </div>
  </div>
</li>
